/* Admin.css */

/* Общие стили для админской части */
.admin-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin-body .container {
    flex: 1 0 auto;
}

.admin-footer {
    flex-shrink: 0;
}

.container {
    padding-bottom: 60px; /* Добавьте отступ снизу, если необходимо */
}